.App {
  text-align: center;
}

img {
  width: 100px;
  height: 100px;
}

.headlines {
  display: flex wrap;
  width: auto;
}

.headline {
  border: 1px solid black;
  margin: 5px;
  padding: 15px;
  width: 25%;
  display: inline-block;
}

.navbar {
  margin: 0px;
  margin-bottom: 5px;
  padding: 20px;
  background: black;
  color: white;
}

.footer {
  display: absolute;
}

.search {
  margin: 0px;
  margin-bottom: 5px;
  padding: 0px;
  background: black;
  color: blue;
}

.articleLink {
  display: inline;
}

.results {
  display: inline;
}